.filter-row {
    padding: 16px 12px;
    width: calc(100% - 24px);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 12px;
    padding: 8px 16px;
    align-items: center;
}
